
body{
    text-align: center;
    font-size: 20;
    color:#eee;
    background-color:rgb(4, 36, 58);
}
.head{
    background-color:663366;
    color: azure;
    font-size:30;
    text-align: center;
    
}